<div class="inline" id="home-div">
    <img src="https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="event-photo-1" id="homepage-img">
</div>

<div class="inline" id="overlay">
    <p class="block">plan, </p>
    <p class="block">search, </p>
    <p class="block">attend.</p>
</div>
