@model LoginUser

<form asp-action="Login" asp-controller="home" method="post" class="loginreg">
    <h6 class="display-4 inline">Login</h6>
    <input asp-for="loginemail" placeholder="Email"></input><br>
    <span asp-validation-for="loginemail"></span><br>

    <input asp-for="loginpassword" placeholder="Password"></input><br>
    <span asp-validation-for="loginpassword"></span><br>

    <button class="btn btn-info">Login</button>
</form>

<partial name="RegisterPartial"></partial>