@model User

<form asp-action="Register" asp-controller="home" method="post" class="loginreg">
    <h6 class="display-4 inline">Register</h6>
    <input asp-for="firstName" placeholder="First Name"></input><br>
    <span asp-validation-for="firstName"></span><br>

    <input asp-for="lastName" placeholder="Last Name"></input><br>
    <span asp-validation-for="lastName"></span><br>

    <input asp-for="email" placeholder="Email"></input><br>
    <span asp-validation-for="email"></span><br>

    <input asp-for="password" placeholder="Password"></input><br>
    <span asp-validation-for="password"></span><br>

    <input asp-for="confirmPassword" placeholder="Confirm Password"></input><br>
    <span asp-validation-for="confirmPassword"></span><br>

    <button class="btn btn-info">Sign Up</button>
</form>