/* home  */
#homepage-img {
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#home-div {
  height: 100vh;
  overflow: hidden;
}

#overlay {
  position: absolute; 
  display:hidden;
  width: 45vw; 
  height: 65vh; 
  top: 25vh;
  left: 27vw;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.336);
  z-index: 1;
  color: whitesmoke;
  font-size: 13vh;
  font-family: 'Cedarville Cursive', cursive;
  padding-left: 30px;
}

.block {
  display: block;
}

.contain {
  padding: 0px;
  width: 100vw;
}

.navbar {
  height: 10vh;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.navbar-brand {
  margin-right: 20px;
}

.dropdown-item {
  margin: 0px;
  padding-left: 10px;
}

#search-input {
  width: 30vw;
  margin-right: 40vw;
  color: whitesmoke;
}

#searchbar {
  width: 55vw;
}

#search-icon {
  width: 23.5px;
  padding: 4px;
}

/* login/reg  */
.loginreg {
  width: 35vw;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-right: 5vw;
  margin-left: 5vw;
}


/* body  */

span {
  display: block;
  color: red;
  font-size: 11px;
}

h1, a, .title, p {
  display: inline-block;
}

a {
  float: right;
  margin: 20px;
}

.actionLinks {
  float: left;
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}

.title {
  color: rgb(17, 77, 167);
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.float-right {
  float: right;
  margin:20px;
}

.no-float {
  float: left;
  margin: 0px;
}

.yellow {
  padding: 20vh;
  background-color: yellow;
  height: 90vh;
}

/* dashboard  */
.list {
  padding: 0px 30px;
}

::-webkit-scrollbar {
  width: 0px;
}