.contain {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.navbar {
  height: 10vh;
  margin: 0px;
  padding: 0px;
}

.right {
  float: right;
}

/* carousel  */
.carousel-container {
  height: auto;
  width: 60vw;
}

/* body  */

span {
  display: block;
  color: red;
}

h1, a, .title, p {
  display: inline-block;
}

a {
  float: right;
  margin: 20px;
}

.actionLinks {
  float: left;
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}

.title {
  color: rgb(17, 77, 167);
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.float-right {
  float: right;
  margin:20px;
}

.no-float {
  float: left;
  margin: 0px;
}

form {
  width: 50%;
}

/* carousel style  */
#myCarousel {
  height:80vh;
  overflow: hidden;
}

img {
  width:20%;
  height: auto;
}

.opaque {
  opacity: 0.8;
}

.container {
  margin: 0% 5%;
  width: 90%;
}